.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin 1 10s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 164px;
  padding: 20px;
  color: white;
}

label div {
  display: inline-block;
  min-width: 200px;
  text-align: right;
}

.flightInformation {
  text-align: center;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

table.center {
  margin-left:auto;
  margin-right:auto;
}

tr, td, th {
  text-align: left;
}

img.equipment {
  height: 700px;
}

form.flightform {
  padding-top: 7px;
  margin-bottom: 0;
  text-align: left;
}

div.flightsheader {
  left: 33.33333333%;
  width: 33.33333333%;
  text-align: left;
  padding-top: 7px;
}


